.navbar-brand{
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
}
.card-cont {
    margin-left: 300px;
}
.card{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.btn-light{
    background-color: #ffffff;
    color: #000000;
}
.navbar{
    border-bottom: 1px solid lightgray;
}
.margen{
    margin-top: 70px;
}
.col{
    border: #000000;
}
.image {
    height: 400px;
    width: 400px;
    margin: 20px;
}