.navbar-brand{
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
}
.card-cont {
    margin-left: 300px;
}
.card{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.btn-light{
    background-color: #ffffff;
    color: #000000;
}
.navbar{
    border-bottom: 1px solid lightgray;
}
.margen{
    margin-top: 70px;
}
.col{
    border: #000000;
}
.image {
    height: 400px;
    width: 400px;
    margin: 20px;
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}